html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
}

header {
  background: #eeeeee;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 35px;
}
#finder {
  padding: 5px;
}
#finder-path {
  box-sizing: border-box;
  display: block;
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  padding-left: 5px;
}

#finder-items {
  z-index: 100;
  visibility: hidden;
  font-size: 14px;
  position: absolute;
  background: #fff;
  width: 250px;
  border: 1px solid #999;
  letter-spacing: 1px;
  margin-top: 2px;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
#finder-items a {
  display: block;
  line-height: 24px;
  height: 24px;
  padding: 0px 10px;
  white-space: nowrap;
  cursor: pointer;
}
#finder-items a.active,
#finder-items a:hover {
  background: #ddd;
}

main {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #ccc;
}

#files {
  background: #eee;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  overflow-x: hidden;
}

#files .file-item {
  display: block;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
}
#files .file-item.active,
#files .file-item:hover {
  background: #ddd;
}

#files .file-item .dir {
  display: block;
  color: #666;
  font-size: 9px;
  white-space: nowrap;
  margin-bottom: 1px;
  letter-spacing: 1px;
}
#files .file-item .name {
  display: block;
  font-size: 12px;
  white-space: nowrap;
  letter-spacing: 1px;
}
#files .file-item .status {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 18px;
  border-radius: 4px;
  border: 1px solid transparent;
  background: transparent;
  width: 5px;
  height: 5px;
}
#files .file-item .status.clean {
  display: none;
}
#files .file-item .status.modified {
  background: #fe3;
  border-color: #cb0;
}
#files .file-item .status.error {
  background: #d30;
  border-color: #a10;
}

#editors {
  background: #eee;
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  bottom: 0;
}
.editor, .editor .CodeMirror {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.editor .CodeMirror {
  box-sizing: border-box;
  border-bottom: 36px solid transparent;
}
.editor .CodeMirror pre {
  line-height: 1.75;
}
.editor .CodeMirror-cursor {
  border-left-width: 2px !important;
}
.CodeMirror-selected {
  background: #eee;
}
.CodeMirror-focused .CodeMirror-selected {
  background: #ddeeff;
}
.editor .CodeMirror span.CodeMirror-matchingbracket {
  background: #eef3fc;
  border: 1px solid #58b;
  border-radius: 2px;
  color: #000;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
}
.editor {
  display: none;
}
.editor.active {
  display: block;
}
.editor-status {
  position: absolute;
  height: 36px;
  padding: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 88%;
}
