html, body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
}

option {
  padding-bottom: 5px;
  padding-top: 5px;
}

button {
  font-family: inherit;
}

button.link {
  border: 0;
  background: transparent;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 0;
  user-select: none;
  -webkit-appearance: none;
}
button.link:hover {
  background: rgba(0, 0, 0, 0.1);
}

#finder {
  background: #eeeeee;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  display: none;
  padding: 0.25rem;
  z-index: 100;
  border-bottom: 1px solid #ccc;
}
#finder.active {
  display: block;
}
#finder-path {
  box-sizing: border-box;
  display: block;
  width: 100%;
  letter-spacing: 0.1rem;
  font-size: 0.875rem;
  padding-left: 0.25rem;
}

#finder-items {
  z-index: 100;
  visibility: hidden;
  font-size: 0.875rem;
  position: absolute;
  background: #fff;
  min-width: 10rem;
  width: auto;
  border: 1px solid #999;
  letter-spacing: 0.1rem;
  margin-top: 0.125rem;
  max-height: 25rem;
  overflow-y: auto;
  overflow-x: hidden;
}
#finder-items.active {
  visibility: visible;
}
#finder-items a {
  display: block;
  line-height: 1.5rem;
  height: 1.5rem;
  padding: 0 0.75rem;
  white-space: nowrap;
  cursor: pointer;
}
#finder-items a.selected,
#finder-items a:hover {
  background: #ddd;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#files {
  background: #eee;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16rem;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  overflow-x: hidden;
}

#files .file-item {
  display: block;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  position: relative;
}
#files .file-item.active,
#files .file-item:hover {
  background: #ddd;
}

#files .file-item .dir {
  display: block;
  color: #666;
  font-size: 0.75rem;
  white-space: nowrap;
  margin-bottom: 0.25rem;
  letter-spacing: 1px;
}
#files .file-item .name {
  display: block;
  font-size: 0.875rem;
  white-space: nowrap;
  letter-spacing: 0.1rem;
}
#files .file-item .status {
  display: inline-block;
  position: absolute;
  right: 0.375rem;
  top: 1rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  background: transparent;
  width: 0.375rem;
  height: 0.375rem;
}
#files .file-item .status.clean {
  display: none;
}
#files .file-item .status.modified {
  background: #fe3;
  border-color: #cb0;
}
#files .file-item .status.error {
  background: #d30;
  border-color: #a10;
}

#editors {
  background: #eee;
  position: absolute;
  top: 0;
  left: 16rem;
  right: 0;
  bottom: 0;
}
.editor, .editor .CodeMirror {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.editor .CodeMirror-gutters {
  background-color: white;
}
.editor .CodeMirror-gutter {
  min-width: 3rem;
}
.editor .CodeMirror-linenumber {
  color: #bbb;
  letter-spacing: 1px;
}
.editor .CodeMirror {
  box-sizing: border-box;
  border-bottom: 26px solid transparent;
}
.editor .CodeMirror pre {
  font-family: "Source Han Code JP", monospace;
  line-height: 1.8;
  color: #aaa;
}
.editor .CodeMirror-cursor {
  border-left-width: 2px !important;
}
.CodeMirror-selected {
  background: #eee;
}
.CodeMirror-focused .CodeMirror-selected {
  background: #ddeeff;
}
.editor .cm-qualifier {
  color: #2f6f9f;
}
.editor .cm-keyword,
.editor .cm-atom,
.editor .cm-builtin {
  color: #1a69a7;
}
.editor .cm-tag,
.editor .cm-def,
.editor .cm-attribute,
.editor .cm-operator,
.editor .cm-number,
.editor .cm-property,
.editor .cm-variable,
.editor .cm-variable-2 {
  color: #333;
}
.editor .cm-string {
  color: #488f02;
}
.editor .cm-bracket {
  color: #aaa;
}
.editor .CodeMirror .CodeMirror-activeline pre {
  color: #333;
}
.editor .CodeMirror-activeline-background {
  background: transparent;
}
.editor .CodeMirror-matchingtag {
  background: transparent;
}
.editor .CodeMirror-matchingtag:not(.cm-bracket) {
  background: #eef3fc;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #4784f1;
  color: #224;
}
.editor .CodeMirror span.CodeMirror-matchingbracket {
  background: #eef3fc;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #4784f1;
  color: #224;
}
.editor .CodeMirror-search-field {
  width: 50em !important;
}
.editor {
  display: none;
}
.editor.active {
  display: block;
}
.editor-foot {
  position: absolute;
  height: 26px;
  padding: 0 5px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 88%;
}
.editor-foot > div,
.editor-foot > button {
  height: 25px;
  line-height: 25px;
  min-width: 60px;
  padding: 0 2px;
}
.editor-message {
  float: left;
}
.editor-mode {
  float: right;
  user-select: none;
  cursor: pointer;
}
.editor-indent.link {
  float: right;
  letter-spacing: 2px;
}
.editor-eol.link {
  float: right;
  letter-spacing: 2px;
}
.editor-encoding.link {
  float: right;
  letter-spacing: 2px;
}

.dialog-backdrop {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: flex;
  left: 0;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.dialog {
  background: white;
  margin: auto;
  padding: 20px;
}

.dialog button {
  margin-right: 5px;
  min-width: 60px;
}

.select-encoding-dialog {
  max-height: 250px;
  max-width: 250px;
  min-width: 150px;
}
.select-encoding-dialog select {
  display: block;
  width: 100%;
  letter-spacing: 2px;
}
